body {
    padding-top: px;
    color: lightgray;
    background-color: #081217;
}

.navbar-title,
.footer-title,
.preview-title {
    color: #20b0b9; 
}
.navbar-btn {
    color: lightgray;
}
.navbar-btn:hover {
    color: #20b0b9;
}

.carousel-div {
    margin-bottom: 4rem;
}
.carousel-caption {
    color: lightgray;
}        
.carousel {
    margin: 25px 0 50px;
    background: black;
    position: relative;
    padding: 8px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.carousel:before,
.carousel:after {
    z-index: -1;
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
}      
.carousel:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.carousel .item {
    text-align: center;
    min-height: 314px;
}       
.carousel .item img {
    max-width: 100%;
    margin: 0 auto;
}
.carousel-indicators {
    bottom: -42px;
}
.carousel-indicators li,
.carousel-indicators li.active {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin: 1px 4px;
}
.carousel-indicators li {
    border: 1px solid #475c6f;
}
.carousel-indicators li.active {
    background: #20b0b9;
    border-color: #20b0b9;
}

.circles-div,
.card-div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.circles-content {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
}
.circles-images {
    border-radius: 50%;
} 
.circles-title {
    color: #20b0b9;
    margin-top: 2rem;
}
.circles-text,
.card-text {
    margin-top: 2rem;
    font-size: 1.25rem;
    line-height: 1.4;
}
.btn-listen-now {
    color: lightgray;
    border: none;
    font-size: 1.5rem;
    line-height: 1.4;
}

.card-title {
    margin-bottom: 2rem;
}
.card-content { 
    padding-top: 4rem;
    padding-bottom: 4rem; 
}
    
.btn-toolbar {
    margin: 10px;
}
        
#navbtn {
    margin: 5px;
}
        

.btn-music-card {
    color: lightgray;
    border: none;
    font-size: 1.5rem;
    line-height: 1.4;
    
}


.footer-title {
    text-align: center;
    font-size: 1.25rem;
}
.footer-links {
    font-size: 14px;
    margin-top: 20px;
    cursor:pointer;
}
.footer-text {
    margin-bottom: 5px;
}
.footer-icon {
    font-size: 20px;
    cursor:pointer;
}
.footer-text:hover,
.footer-icon:hover,
.btn-listen-now:hover,
.btn-music-card:hover {
    color: #20b0b9;
}